@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding-top: 80px; 
}
div {
    border-style: groove;
    border-width: 0.1px;
}
ul.mynav {
    min-width: 800px;
    list-style: none;
    padding-top: 20px;
}
ul.mynav li {
    display: inline;
}
ul {
    list-style-type: none;
}